---
layout: base
title: Caleb
excerpt: Caleb
---

{%- if site.author.type == 'organization' -%}
  {%- assign _author_itemtype = 'http://schema.org/Organization' -%}
{%- else -%}
  {%- assign _author_itemtype = 'http://schema.org/Person' -%}
{%- endif -%}

<div itemscope itemtype="{{ _author_itemtype }}" class="layout--author">
  <div class="main">
    <div class="content">
      <div class="author-avatar">
        <img itemprop="image" alt="my photo" src="https://cvws.icloud-content.com.cn/B/AUi-AE8n15Cd0RlytbwUG8Y78-1CAXd_jI0RMh0Xf1AbsJNtWsSNSFvE/8555051-fbba70fedc698a40.jpg?o=ApQRuP9j-zacdXta6JZfcMfHVRoz0FTIjPfnXH_JCC-r&v=1&x=3&a=CAogZdcfhAtNnNrK7TnsrZoIHDWw1zGAyye6PAvpEsfKD-0SbxCq35nP2jAYqrz10NowIgEAUgQ78-1CWgSNSFvEaidAe3pBbN4rZBRNnlgY8DgGgPFyhyfvlD3nhHwpyoZcz_e65mhMahpyJ2urIRSDPt6xqYe--VP-dKssAlVyoWbjCbKZf83bOS7BRb4rqUe73Q&e=1673596329&fl=&r=b4b171bf-911d-4088-8805-74f186e24b3c-1&k=HURvR_Xbh5J8BK-LNMglpg&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=216&s=CjAiu75jakF2roYm3mX-geLRyW4&cd=i" />
      </div>
      <h1 itemprop="name" class="title-text">{{ site.author.name }}</h1>
      {% include author-links.html author=site.author %}
      <p><a itemprop="url" class="social-link blog" title="Visit my blog." href="/blog" target="_self">Visit My Blog</a></p>
    </div>
  </div>
</div>
<script>{%- include scripts/common.js -%}</script>
{% include analytics.html %}
